/*@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}


/* END IE compatibility code*/

html {
  overflow-x: hidden;
  position: relative;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  font-size: 95%;
}

body {
  overflow-x: hidden;
  color: #212121;
  background-color: #FAFAFA;
}

/*:lang(zh) body {
  font-size: 1.6em;
}*/

footer {
  bottom: 0;
  width: 100%;
  position: relative;
}
/*footer > div {
  position: relative;
}*/

/*::-moz-selection {
  background: #ccc;
}

::selection {
  background: #ccc;
}*/

a, .blue-anchor, [ng-click], [data-ng-click], [scroll-to] {
  cursor: pointer;
}

a:hover, a:focus, .blue-anchor:active, .blue-anchor:hover {
  text-decoration: none;
}

.blue-anchor {
  color: blue !important;
}

.blue-anchor:not(.no-link):hover,
.blue-anchor:not(.no-link):focus {
  text-decoration: underline !important;
  color: rgb(0, 0, 136) !important;
}

.center {
  float: none;
  clear: both;
  display: table;
  margin: 0px auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
}

h1.normal, h2.normal, h3.normal, h4.normal, h5.normal, h6.normal, .h1.normal, .h2.normal, .h3.normal, .h4.normal, .h5.normal, .h6.normal {
  font-weight: 500;
}

h1.extra-large, .h1.extra-large {
  font-size: 50px;
}

h2.extra-large, .h2.extra-large {
  font-size: 40px;
}

h3.extra-large, .h3.extra-large {
  font-size: 30px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  font-weight: 300;
  color: rgba(68, 68, 68, 0.74);

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  /* IE 5-7 */
  filter: alpha(opacity=90);
  /* Netscape */
  -moz-opacity: 0.9;
  /* Safari 1.x */
  -khtml-opacity: 0.9;
  /* Good browsers */
  opacity: 0.9;
}

.text-bold, .bold {
  font-weight: bold;
}
.text-weight-normal,
.text-normal,
.normal {
  font-weight: 300 !important;
}
.text-white {
  color: white;
}

.text-thin {
  font-weight: 300;
}

.text-small {
  font-size: 0.8em;
}

.text-smaller {
  font-size: 0.6em;
}

.text-tiny {
  font-size: 0.5em;
}

.text-large, .text-big {
  font-size: 1.2em;
}

.text-larger, .text-bigger, {
  font-size: 1.4em;
}

label.control-label.text-larger {
  font-size: 1.2em;
  margin-top: 0px;
}
.text-1x {
  font-size: 1em;
}
.text-1-2x {
  font-size: 1.2em;
}
.text-1-5x {
  font-size: 1.5em;
}
.text-2x {
  font-size: 2em;
}
.text-3x, .text-3x {
  font-size: 3em;
}
.text-4x, .text-4x {
  font-size: 4em;
}

.text-normal {
  font-size: 1em;
}

.text-bottom {
  text-align: bottom;
}

.text-left, .btn.text-left {
  text-align: left;
}

.text-dark {
  color: #3d3d3d;
}

.close:before {
  content: "\00d7";
}

.close {
  font-weight: 400;
  content: "";
}

ul:not(.show-bullets):not(.show-dots):not(.breadcrumb) {
  list-style-type: none;
  padding-left: 0px;
}

ul.show-bullets, ul.show-dots {
  list-style-type: disk;
  padding-left: 10px;
}


/* =============== GENERAL STYLES ==================== */

.btn-group .btn,
.no-dropshadow {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.jumbotron,
.card,
.dropshadow,
.panel {
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.dropshadow.dropshadow-hover,
.panel.panel-hover {
  -webkit-transition: box-shadow 0.2s ease-in-out 0s;
  -moz-transition: box-shadow 0.2s ease-in-out 0s;
  -o-transition: box-shadow 0.2s ease-in-out 0s;
  -ms-transition: box-shadow 0.2s ease-in-out 0s;
  transition: box-shadow 0.2s ease-in-out 0s;
}

.dropshadow2x,
.dropshadow.dropshadow-hover:hover,
.panel.panel-hover:hover {
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.no-border-top {
  border-top: none !important;
}

.first_row-no_border_top tr:first-child > td {
  border-top: none !important;
}

.no-border {
  border: 0px transparent solid !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none !important;
}

.border-left-orange {
  border-left: 0.1em solid #FD5900;
  padding-left: 0.2em;
}

.border-gray {
  border: 1px solid #e5e5e5;
}

.border-gray-left {
  border-left: 1px solid #e5e5e5;
}

.border-gray-right {
  border-right: 1px solid #e5e5e5;
}

.border-gray-top {
  border-top: 1px solid #e5e5e5;
}

.border-gray-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.no-border-bottom-last-child:last-child {
  border-bottom: 0px !important;
}
.no-border-radius, .border-radius-0 {
  border-radius: 0px;
}
.no-border-radius-children > *, .border-radius-0-children > * {
  border-radius: 0px;
}

.no-background {
  background-color: transparent !important;
}

.p20 {
  padding: 20px;
}

.m20 {
  margin: 20px;
}

.p15 {
  padding: 15px;
}

.p10 {
  padding: 10px;
}

.p5 {
  padding: 5px;
}

.m5 {
  margin: 5px;
}

.pt15p {
  padding-top: 15%;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}

.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}

.pb20 {
  padding-bottom: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}
.pt3 {
  padding-top: 3px;
}
.pt5 {
  padding-top: 5px;
}

.pb5 {
  padding-bottom: 5px;
}
.pb6 {
  padding-bottom: 6px;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pb50 {
  padding-bottom: 50px
}

.pb100 {
  padding-bottom: 100px;
}

.pt100 {
  padding-top: 100px;
}

.pb10 {
  padding-bottom: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pr5 {
  padding-right: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}
.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pl30 {
  padding-left: 30px;
}

.m10 {
  margin: 10px;
}

.mt10 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: -3px;
}
.mt-2 {
  margin-top: -2px;
}
.mt-10 {
  margin-top: -10px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: -15px !important;
}
.mt-15 {
  margin-top: -15px !important;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}
.m40 {
  margin: 40px;
}
.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt50 {
  margin-top: 50px;
}
.pr60 {
  padding-right: 60px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.no-padding, .p0 {
  padding: 0px;
}

.no-padding-left, .pl0 {
  padding-left: 0px;
}

.no-padding-right, .pr0 {
  padding-right: 0px
}

.no-padding-top, .pt0 {
  padding-top: 0px;
}

.no-padding-bottom, .pb0 {
  padding-bottom: 0px !important;
}

.no-margin, .m0 {
  margin: 0px !important;
}

.no-margin-left, .ml0 {
  margin-left: 0px;
}

.no-margin-right, .mr0 {
  margin-right: 0px;
}

.no-margin-top, .mt0 {
  margin-top: 0px !important;
}

.no-marign-bottom, .mb0 {
  margin-bottom: 0px;
}

.text-lighter-0x {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.text-lighter-1x {*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";
  filter: alpha(opacity=87);
  -moz-opacity: 0.87;
  -khtml-opacity: 0.87;
  opacity: 0.87;
}
.text-lighter-2x {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  -khtml-opacity: 0.70;
  opacity: 0.70;
}
.text-lighter-3x {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
  filter: alpha(opacity=47);
  -moz-opacity: 0.54;
  -khtml-opacity: 0.54;
  opacity: 0.54;
}
.text-lighter-4x {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)";
  filter: alpha(opacity=38);
  -moz-opacity: 0.38;
  -khtml-opacity: 0.38;
  opacity: 0.38;
}
.text-lighter-5x {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=12)";
  filter: alpha(opacity=12);
  -moz-opacity: 0.12;
  -khtml-opacity: 0.12;
  opacity: 0.12;
}
